body {
	background-image: url("https://static.wikia.nocookie.net/dcanimated/images/8/85/Watchtower.png/revision/latest?cb=20180621204824");
	background-repeat: no-repeat;
	background-size: cover;
}

th, tr, td {
	color:white;
}
